<html>
	<head>
    <title>Simple Angular Auth</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
		<script src="app.js"></script>
  </head>
	<body ng-app="app" ng-controller="Main as main">
    <h1>Simple Angular Auth - Thinkster</h1>

    <input ng-model="main.username" placeholder="username"><br>
    <input ng-model="main.password" placeholder="password"><br>
    <br>

    <button ng-click="main.register()">Register</button>
    <button ng-click="main.login()">Login</button>
    <button ng-click="main.logout()" ng-show="main.isAuthed()">Logout</button>

    <button ng-click="main.getQuote()">get quote</button>
    <br><br>
    {{main.message}}

    <br><br><br>
    <a href="https://twitter.com/IAmMattGreen">shameless plug</a>
	</body>
</html>
